<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624322268650-j5n1kec0kfia6s2o2c8l2lqko8v37u64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624322268650-j5n1kec0kfia6s2o2c8l2lqko8v37u64</string>
	<key>API_KEY</key>
	<string>AIzaSyCpxYFMhFk7LrDsU1e6XNEaDaf6jarHSA0</string>
	<key>GCM_SENDER_ID</key>
	<string>624322268650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendfinder</string>
	<key>PROJECT_ID</key>
	<string>friendfinder-c269d</string>
	<key>STORAGE_BUCKET</key>
	<string>friendfinder-c269d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624322268650:ios:5a3e295c500dd9dd3fb693</string>
</dict>
</plist>